.blm-card {
	background-color: #95d3fb;
}

.local-card {
	background-color: #f98989;
}

@media (min-width: 768px) {
	.blm-photo {
		object-fit: contain;
		height: 400px;
	}

	.local-photo {
		object-fit: contain;
		height: 300px;
		width: auto;
	}
}

.navbar {
	height: 80px;
	position: relative;
}
.navbar-brand {
	position: absolute;
	left: 50%;
	margin-left: -30px !important; /* 50% of logo width */
	display: block;
}

.navbar-brand img {
	width: 60px;
}

h1 {
	font-family: adobe-garamond-pro, serif;
	font-weight: 700;
	font-style: normal;
}
